# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

.vagrant
.bundle
.DS_Store
Berksfile.lock
vendor
build/ref_db/files*
build/ref_db/*.sql*
build/ref_db/slaughterhouse
www/sites/default/settings*
www/sites/default/files*
*.sass-cache
/ostdi/nbproject/private/
/nbproject/private/
