body {
	background: url('img/bg_main_starburst.png') no-repeat 65% 50%,
				url('img/bg_main_polygon.png') no-repeat 50% 60%,
				url('img/bg_main_blocks.png');
	background-color:$green;
	font:{
		size:100%;
	}
}
.palmtree_L {
	display: block;
	margin-top:30px;
    margin-right: auto;
	width:75%;
}
.palmtree_R {
	display: block;
	margin:-120px -30px 0 auto;
	position: relative;
    z-index: 30;
}