/* $Id: styles.css,v 1.1.2.2.2.1 2011/01/11 01:08:49 dvessel Exp $ */
// @ variables
// ================================================================================================
@import 'defaults/vars';
// @ mixins and functions
// ================================================================================================
@import 'defaults/mixins';
h1#site-name {
  margin-bottom: 0;
}

#site-header,
#site-subheader,
#footer-region,
.column,
.node,
.comment,
.block {
  margin-bottom: 1.5em;
}

ul.main-menu,
ul.secondary-menu {
  display: block;
  margin: 0;
  padding: 0;
}

// @ layout
// ================================================================================================
@import 'layout/page';
@import 'layout/menus';
@import 'layout/content';