// @ colors
// ================================================================================================
$red: rgb(237,32,36);
$green: rgb(97,193,152);
$blue: rgb(65,119,188);
$yellow: rgb(243,236,26);
$purple: rgb(185,82,159);

$blue_lt: lighten($blue, 10%);
$red_lt: lighten($red, 25%);

$rio_brick: #790000;
